<div class="card border border-primary">
  <div class="card-body">
    <h2 class="text-center">Capital a recuperar</h2>
    <h1 class="text-center">${{ data.capitalImpago }}</h1>
  </div>
</div>

<div class="card division border border-primary">
  <div class="card-body">
    <h2 class="text-center">Interes financiero a cobrar</h2>
    <h1 class="text-center">${{ dataInteres.interesFinanciero }}</h1>
  </div>
</div>
<div class="card division border border-primary">
  <div class="card-body">
    <h2 class="text-center">Interés punitorio cobrado</h2>
    <h1 class="text-center">${{ dataPunitorio.interesPunitorioCobrado }}</h1>
  </div>
</div>
